.htmx-indicator {
	z-index: -1;
}
.htmx-request.htmx-indicator{
	opacity: .5 !important;
	z-index: 1000;
}
.htmx-request.htmx-indicator{
	opacity: .2;
	z-index: 1;
}

/* This is for the scanner */
canvas.drawing, canvas.drawingBuffer {
	position: absolute;
	left: 0;
	top: 0;
}
        